.root {
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
  width: 260px;
  text-align: center;
  margin-bottom: 20px;
  transition: var(--transition);

  &:hover {
    transform: scale(1.03);
  }
}

.title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}

.image {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
}

.selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;

  ul {
    display: flex;
    flex: 1;

    &:first-of-type {
      margin-bottom: 6px;
    }

    li {
      padding: 8px;
      flex: 1;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;

      &.active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
      }
    }
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

@media screen and (min-width: 768px) {
  .root {
    width: 280px;
    margin-bottom: 30px;
  }

  .bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
