.button {
  display: inline-block;
  background-color: none;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid transparent;

  & i,
  & span,
  & path,
  & svg {
    transition: var(--transition);
  }

  &.plus {
    min-height: 50px;

    &.circul {
      min-height: auto;
    }
  }

  & .icon {
    margin-right: 5px;
  }

  & .number {
    height: 28px;
    font-weight: 600;
    font-style: normal;
    color: var(--colorWhite);
    padding: 0 10px;
    margin-left: 5px;
    background-color: var(--colorOrange);
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: var(--transition);
  }

  &.transparent {
    background-color: var(--colorWhite);
    border: 1px solid var(--colorOrange);
    color: var(--colorOrange);

    & span {
      color: var(--colorOrange);
    }

    & svg {
      transition: var(--transition);
    }

    &:hover {
      background-color: var(--colorOrange);
      color: var(--colorWhite);
      & span {
        color: var(--colorWhite);
      }

      & svg path {
        fill: var(--colorWhite);
      }

      & .number {
        background-color: var(--colorWhite);
        color: var(--colorOrange);
      }
    }
  }

  &.circul {
    min-width: auto;
    border: 2px solid #c6c4c4;
    width: 32px;
    height: 32px;
    padding: 0;

    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    &.active {
      border-color: var(--colorOrange);

      & svg {
        transition: all 0.05s ease-in-out;
        fill: var(--colorOrange);
      }

      &:hover {
        background-color: var(--colorOrange);

        & svg {
          fill: var(--colorWhite);
        }
      }
    }

    &.close {
      &:hover {
        background-color: var(--colorBlack);
        border: 2px solid var(--colorBlack);

        & svg {
          fill: var(--colorWhite);
        }
      }
    }
  }

  &.fill {
    background-color: var(--colorOrange);
    color: #fff;

    &:hover {
      background-color: var(--colorOrangeHover);
    }
  }

  &.buttonBack {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6b6b6;
    color: #b6b6b6;
    font-weight: 600;
    transition: var(--transition);

    &.fill {
      background-color: rgba(0, 0, 0, 0.882);
      color: #fff;

      &:hover {
        background-color: rgba(0, 0, 0, 0.747);
        border-color: unset;
      }
    }

    & svg {
      margin-right: 10px;
    }

    &:hover {
      background-color: var(--colorBlack);
      color: var(--colorWhite);
      border-color: var(--colorBlack);

      & svg {
        fill: var(--colorWhite);
      }
    }
  }
}
