@import '../../scss/variables';

.button {
  display: inline-block;
  background-color: none;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;

  & i,
  & span,
  & path,
  & svg {
    transition: all $duration ease-in-out;
  }

  .icon {
    margin-right: 5px;
  }

  & .number {
    height: 28px;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    padding: 0 10px;
    margin-left: 5px;
    background-color: $orange;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;
  }

  &.transparent {
    background-color: #fff;
    border: 1px solid $orange;
    color: $orange;

    & span {
      color: $orange;
    }

    & svg {
      transition: all $duration ease-in-out;
      fill: $orange;
    }

    &:hover {
      background-color: $orange;
      color: #fff;
      & span {
        color: #fff;
      }

      & svg path {
        fill: #fff;
      }

      & .number {
        background-color: #fff;
        color: $orange;
      }
    }
  }
}
