@import '../../scss/variables';

.buttonBack {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b6b6b6;
  color: #b6b6b6;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  cursor: pointer;
  font-weight: 600;
  transition: all $duration ease-in-out;

  & svg {
    margin-top: 3px;
    margin-right: 10px;
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;

    & svg {
      fill: #fff;
    }
  }
}
