@import '../../scss/variables';

.root {
  position: relative;
}

.iconSearch {
  position: absolute;
  top: 0;
  left: 5px;
  height: 100%;
  opacity: 0.2;
}

.input {
  display: block;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 5px 30px 5px 30px;
  transition: all 0.2s ease;

  &::placeholder {
    color: rgb(188, 185, 185);
  }

  &:hover,
  &:focus {
    border: 1px solid rgb(193, 189, 189);
  }
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}
