:root {
  --colorWhite: #fff;
  --colorBlack: #232323;
  --colorBackgroung: red;
  --colorGray: #f6f6f6;
  --colorGrayDark: #8d8d8d;
  --colorOrange: #fe5f1e;
  --colorOrangeHover: #ee652f;

  --transition: all 0.2s ease;
}
